* {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

body {
    background-color: rgb(196, 229, 250);

}

nav {
    background-color: #5B6DCD;
    width: 70%;
    margin: auto;
    border-radius: 8px;
}

nav div {
    margin: auto;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

nav div a {
    text-decoration: none;
    color: inherit;
}

nav div a:hover {
    color: #bebebe;
}

.introSection {
    margin: 12rem 2rem 0rem 2rem;
}

.introSection div {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.functionButtons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
}

.functionButtons button {
    background-color: #5B6DCD;
    color: white;
    border: 1px solid white;
    margin: 1rem;
}

.functionButtons select {
    background-color: #5B6DCD;
    color: white;
    border: 1px solid white;
    margin: 1rem;
}

.globalSection {
    margin: auto;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}









table {
    color: white;
    background-color: #5B6DCD;
    box-sizing: border-box;
    margin-top: 0px;
    width: 60%;

}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #959bc2;
}





@media (max-width: 1200px) {



    nav {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

}