* {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

body {
    background-color: rgb(196, 229, 250);

}

nav {
    background-color: #5B6DCD;
    width: 70%;
    margin: auto;
    border-radius: 8px;
}

nav div {
    margin: auto;
    color: white;
    font-size: 20px;
}

.globalSection {
    margin: 12rem 2rem 3rem 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.staffAdminSection {
    border: solid #5B6DCD 1px;
    padding: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    width: 25rem;
    height: 25rem;
    margin: 6rem;
}

.staffAdminSection div {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.staffAdminSection div>form>button,
input {

    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.staffAdminSection div>form>button {
    margin-top: 2rem;
    width: 100%;
    background-color: #5B6DCD;
}

label {
    margin-top: 1rem;
}

@media (max-width: 1200px) {
    .globalSection {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .staffAdminSection {

        justify-content: center;
        margin: auto;
        margin-bottom: 4rem;
    }
}

span {
    display: block;
    margin-left: 20px;
    color: red;
    font-style: italic;
}